:root {
    --softred: hsl(7, 99%, 70%);
    --yellow: hsl(51, 100%, 49%);
    --dark_desaturated_cyan: hsl(167, 40%, 24%);
    --dark_blue: hsl(198, 62%, 26%);
    --dark_moderate_cyan: hsl(168, 34%, 41%);
    --very_dark_desaturated_blue: hsl(212, 27%, 19%);
    --very_dark_grayish_blue: hsl(213, 9%, 39%);
    --dark_grayish_blue: hsl(232, 10%, 55%);
    --grayish_blue: hsl(210, 4%, 67%);
    --white: hsl(0, 0%, 100%)

}



* {
    font-family:'Barlow', sans-serif;
    overflow-x: hidden !important;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

body {
    font-size: 18px;
}


h1,h2,h3,h4,h5,h6 {
    font-family:'Fraunces', serif;
    font-weight: 900;
}



.bg-image {
    height: 100vh;
    background-image: url(./images/desktop/image-header.jpg);
    background-size: cover;
    background-position: center;
}
.navbar-nav > .nav-link  {
    background-color: transparent; 
    border-radius: 20px;
    padding: 5px 10px;
    transition: all 0.5s;

}



.navbar-nav > .nav-link:hover  {
    text-transform: uppercase;
    background-color: rgba(255, 255, 255, 0.205); 
    border-radius: 20px;
}

.mt-50 {
    margin-top: 50px;
}

.title {
    letter-spacing: 1rem;
}


.text-grey {
    color: var(--very_dark_grayish_blue)
}


.c-lm:hover {
    cursor: pointer;
}


.c-lm::before {
    content: "";
    position: absolute;
    height: 15px;
    width: 190px;
    border-radius: 10px;
    background-color:#f9f3d1;
    z-index: -1;
    top: 65px;
    left: -10px;
    transition: all 1s;
}

.c-lm:hover::before{
    background-color: var(--softred);
    opacity: 0.7;
}

.title-testimonials {
    margin-top: 150px !important;
    letter-spacing: 8px;
    color: var(--grayish_blue);
}


.text-gray-blue {
    color: var(--very_dark_grayish_blue)
}


.text-graydark-blue {
        color: var(--very_dark_grayish_blue)
    
}


.bg-green {
    background-color: #90d4c5;
}


.filter-green{
    filter: invert(37%) saturate(301%) hue-rotate(118deg) brightness(20%) contrast(20%);
}




/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 20px;
    display: none;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: red; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #b30000; 
  }

  /* SCROLLBAR */


  .navbar-fixed-top.scrolled {
      background-color: rgba(40, 40, 241, 0.842);
      box-shadow: 1px 7px 38px -3px #000000;
  }

  .navbar-fixed-top {
    transition: all 0.9s;
  }


  .navbar-toggler-icon:focus {
    display: none !important;
  }



  @media screen and (max-width: 700px) {
    .title {
        font-size: 60px;
        letter-spacing: 10px;
    }

    .title-testimonials {
        letter-spacing: 8px;
    }
    
  }